@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --color-primario:#C50404;
    --tarjeta-violeta:blueviolet;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 26px;
    font-family: "roboto";
}

body {
    background-color:var(--color-primario);
}
img {
    width: 100%;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.dexImg {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: auto;
}

.logoPokemon {
    width: 500px;
    height: auto;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.tarjetas {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    gap: 150px 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
@keyframes cargaTarjetas {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.primeraCarga{
    animation: cargaTarjetas 1s ease-in;
}
.tarjetaPokemon {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 270px;
    height: 350px;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 15px 10px 5px #1d050578;
}
.tarjetaPokemon:hover {
    transition: scale 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    scale:105%;
    box-shadow: 0px 20px 10px 5px #1d050578;
}
.iconos{
    display: flex;
    gap: 20px;
}
.contenedorIcon {
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: #d4d4d441;
    box-shadow: 0px 3px 5px 3px #201b1b4a;
    border-radius: 50%;
}
.contenedorImg {
    position:relative;
    width: 170px;
    height: 170px;
    top: -40px;
    background-color: #d4d4d441;
    border-radius: 50%;
    margin: -55px;
}
.informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 40px;
    font-size: 0.8em;
    background-color: rgb(216, 18, 18);
    box-shadow: 0px 3px 5px 3px #1d050578;
}
.informacion:hover{
    background-color:rgb(158, 8, 8);
}
.identificador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d470;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 1em;
}
.nombre {
    font-size: 1.2em;
}
footer {
    display: flex;
    justify-content: center;
    margin:100px 0;
}
.masPokemon {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(252, 101, 1);
    color: aliceblue;
}
.masPokemon:hover {
    background-color:rgb(252, 115, 24) ;
}
.ventana {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto por defecto */
    z-index: 1000;
}
.contenidoVentana {
    animation: cargaTarjetas 0.6s ease-in;
    position: relative;
    display: grid;
    grid-template-areas: 
    "a a a"
    "b b c"
    "d d c"
    "d d e"
    ;
    gap: 50px;
    padding: 20px;
    border-radius: 40px;
    width: 60%;
}
.nombreVentana{
    grid-area: a;
    display: flex;
    justify-content: center;
}
.contenedorImagenes{
    grid-area: b;
}
.imagenesVentana{
    grid-area: b;
}
.contenedorIcono{
    grid-area: c;
    height: 383px;
    max-width: 895px;
}
.contenedorEstadisticas{
    grid-area: d;
    max-height: 260px;
}
.contenedorHabilidades{
    grid-area: e;
}
.contenedorImagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 190px;
    height: 190px;
}
.imagenesVentana div img{
    border: 3px solid black;
    border-radius: 40px;
    background-color: #d4d4d441;
}
.shiny{
    background: linear-gradient(135deg,#ff0202,#ffd000, #1df811, #00fffb,#2600ff,#ff008c);
}
.spanShiny,.shiny{
    margin-left: 100px;
}
.contenedorEstadisticas,.contenedorHabilidades{
    border-radius: 40px;
    padding: 15px;
    width: 100%;
    overflow: scroll;
}
.contenedorHabilidades{
    max-height: 132px;
    max-width: 895px;
    margin-left: 10px;
}
.contenedorEstadisticas::-webkit-scrollbar,.contenedorHabilidades::-webkit-scrollbar{
    display: none;
}
.contenedorEstadisticas{
    margin-top: 55px;
}
.contenedorEstadisticas div{
    display: flex;
}
.contenedorHabilidades div{
    display: inline-flex;
}
.contenedorEstadisticas,
.contenedorHabilidades{
    border: 3px solid black;
}
.imagenesVentana{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.contenedorIcono{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    "a a"
    "b b"
    "c c"
    ;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    padding: 15px;
    margin-left: 10px;
    width: 100%;
    min-height: 70px;
    border-radius: 40px;
}
.iconos{
    grid-area: a;
    display: flex;
    justify-content: space-around;
}
.iconos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.contenedorFuerza, .contenedorDebilidad{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}
.contenedorFuerza{
    grid-area: b;
}
.contenedorDebilidad{
    grid-area: c;
}
.grass {
    background-color: #33d303;
}
.poison {
    background-color: #850273;
}
.fire {
    background-color: #dd7104;
}
.bug {
    background-color: #338533;
}
.flying {
    background-color: #bea0c2;
}
.dark {
    background-color: #34023b;
}
.dragon {
    background-color: #477194;
}
.electric {
    background-color: #bebb02;
}
.fairy {
    background-color: #f85395;
}
.fighting{
    background-color: #8a1a1a;
}
.ghost {
    background-color: #284861;
}
.ground {
    background-color: #8f782e;
}
.ice {
    background-color: rgb(39, 69, 94);
}
.normal {
    background-color: #5a3f1c;
}
.psychic {
    background-color: #c501b5;
}
.rock {
    background-color: #9a9c9e;
}
.steel {
    background-color: #3c4044;
}
.water {
    background-color: #0385e9;
}
/*Inicio responsive de la pagina.*/
@media (max-width: 1440px) {
    .contenidoVentana{
        grid-template-areas: 
        "a"
        "b"
        "d"
        ;
    }
    .imagenesVentana{
        justify-content: space-around;
    }
    .spanShiny,.shiny{
        margin: 0;
    }
    .contenedorIcono,.contenedorHabilidades{
        display: none;
    }
}
@media (max-width: 650px) {
    .spanShiny,.shiny{
        display: none;
    }
    .containerShiny{
        display: none;
    }
    .contenidoVentana{
        padding: 10px;
        min-width: 300px;
    }
    .contenedorEstadisticas{
        min-width: 280px;
    }
}